@import "bootstrap/scss/bootstrap";

* {
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}


::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.breadcrumb-item {
    font-size: 14px;
    a {
        text-decoration: none;
        color: black;
    }

}
.breadcrumb-item.active{
    font-weight: bolder;
}

.breadcrumb {
    border-bottom: 1px dashed darkgrey;
    margin-bottom: 4px;

}
.popupContainer {
    width: 70vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    border-radius: 4px;
    overflow: hidden;
    padding: 26px 0;
}

.popupBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.itemListTable {
    vertical-align: middle;
    tr {
        td {
            color: rgb(120, 130, 157);
            font-size: 14px;
            a {
                font-weight: 600;
                color: black;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}

$breadcrumb-divider: quote(">");
.table-container {
    max-height: 300px; /* Tabloyu ne kadar yükseklikte göstermek istediğinizi ayarlayın */
    overflow-y: auto; /* Dikey kaydırma etkinleştir */
    padding-right: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.dropzone-container {
    padding: 42px;
    border: 3px dashed rgba(0,0,0,0.2);
    text-align: center;
}

thead th {
    position: sticky;
    font-size: 14px;
    font-weight: 600;
    color: rgb(181, 181, 195);
    top: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    z-index: 1; /* Diğer içerik üzerine çıkmasını sağlar */
}

tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


.medias-input {
    display: block;
    width: auto;
    height: 25px;
    border: 1px solid darkgrey;
}
